
<ion-content  padding>
<ion-grid class="absolute-Center">
	<ion-row  class="text-center " text-center>
		<ion-col size-md="6" size-lg="5" size-xs="12">
			<div class="form-head" text-center>
				<h4>Login</h4>
			</div>
		
				<ion-item no-padding no-margin>
				  <ion-label position="floating">Email</ion-label>
				  <ion-input></ion-input>
				</ion-item>
				<ion-item no-padding no-margin>
				  <ion-label position="floating">Password</ion-label>
				  <ion-input></ion-input>
				</ion-item>

				<ion-button shape="round" class="submitBtn" padding (click)="login()">Login</ion-button>
			
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>